body{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}
body{
    position: relative;
    height:98vh;
    background-image: url('22333-design-template-08a33be2149b4e5282ef64c36a380280_screen.jpg');
    background-position: 50% 94%;
    background-size: cover;
    background-repeat: no-repeat;
}
.uheader{
    background-color: rgb(35, 34, 34);
    display: flex;
}
.uheader img{
    height:60px;
    width: 140px;
    margin-left: 20px;
}
#bu{
    background-color: greenyellow;
    color: black;
    height:40px;
    width: 80px;
    border-radius: 9px;
    margin-top:10px;
    margin-left:1000px;
}
.lheader img{
    margin-left:40px;
    height:50px;
    width: 140px;
}
.lheader{
    background-color:#ffff;
    display: flex;
    padding: 12px;
}
#link{
    color: black;
    text-decoration: none;
    margin-left:10px;
}
#bu1{
    background-color:rgb(61, 57, 99);
    color: #fff;
    border-radius:26px;
    padding:16px;
    margin-left:600px;
}
.main{
    margin-left:45px;
}
.main p{
    font-size:63px;
    color: #fff;
}
#h{
    font-weight: bold;
}
#bu2{
    background-color:rgb(244, 244, 248);
    color: #050505;
    border-radius:31px;
    padding:21px;
}
/* ________________________________________________ */
#container{
    width:90vw;
    margin:10px auto; 
    display: grid;
    grid-auto-rows:300px;
    gap:40px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

div{
    border-radius: 10px;
    position: relative;
}

div img{
    width:350px;
    height:270px;
    /* 1.border radius */
    transition: 200ms;
    
}

/* 2.hover effect: change image opacity*/

div img:hover{
    opacity: 0.5;
    cursor: pointer;
    filter: grayscale(80%);
}

/* nav styling: */
ul{
    list-style: none;
}

li{
    padding: 10px;
    margin-left:30px;
}

i{
 margin-right: 10px;
}

nav{
    background-color: brown;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.9rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* icon over image: */
div i{
    position: absolute;
    font-size: 3.4rem;
    top: 35%;
    left:40%;
    transform: scale(0);
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);;
}

div:hover i{
    transform: scale(1.1);
}

/* heading css */
#heading{
   width: 77vw;
   margin: 20px auto;
   padding: 20px;
    border-radius: 10px;
    background-color: rgba(239, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}

#heading h1{
    color: rgb(22,22,141)
}