*{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    background-color: rgb(231, 138, 169);
}
#fruits{
    background-color: azure;
}
.ul{
    color: bisque;
    text-decoration: line-through;
}
input[type="text"]{
    background-color: antiquewhite;
}
input[type="password"]{
    background-color: rgba(199, 170, 132, 0.895);
}
[placeholder="E-Mail"]{
    color: aqua;
    font-weight: bold;
}